In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

# enter "dat" directory, enter all subdirectories with name ending in "1","2","3" and load all csv files
# with name n into a list of dataframes
def load_data(n: str):
    data = []
    for root, dirs, files in os.walk("dat"):
        for dir in dirs:
            if dir[-1] in ["1","2","3"]:
                for file in os.listdir(os.path.join(root,dir)):
                    if file == n:
                        data.append(pd.read_csv(os.path.join(root,dir,file)))
    return data

In [12]:
populations = load_data("population.csv")
experiment_data = load_data("experiment.csv")

In [14]:
example_population = populations[0]
example_experiment = experiment_data[0]

         Arena   Population Every 100 Ticks
0       Arena0                           20
1       Arena1                           20
2       Arena2                           20
3       Arena3                           20
4       Arena4                           20
...        ...                          ...
48595  Arena22                          106
48596  Arena23                          112
48597  Arena24                           77
48598  Arena25                           75
48599  Arena26                           99

[48600 rows x 2 columns]